body{
    margin: 30px auto;
    font-family: 'Comfortaa', cursive;
    background: linear-gradient(to top, rgb(64, 238, 64), rgb(30, 240, 2), rgb(64, 238, 64));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.modal{
    background-color: rgb(200, 232, 238);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
    font-weight: 700;
}

.trainModeColor{
    background: linear-gradient(to top, rgb(64, 238, 186), rgb(62, 179, 46), rgb(64, 238, 186));
}

.menu{
    width: 100%;
    margin: 20px 60px 40px;
    display: flex;
    justify-content: space-between;
}

.lineStar{
    position: absolute;
    width: 100%;;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    top: 95px;
}


.burger{
    transition: 0.5s;
    width: 50px;
    cursor: pointer;
}

.close{
    transition: 0.5s;
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 59px;
    left: 70px;
}

.burger:hover, .close:hover, .closeScore:hover{
    transform: rotate(180deg);
}

.navigation{
    transition: 1s;
    font-size: 30px;
    position: fixed;
    left:0;
    top:0;
    padding: 160px 35px 0 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background: linear-gradient(to top, rgb(58, 204, 0), rgb(107, 114, 106));
    box-shadow: inset 0 0 1px 1px rgb(18, 156, 0),0 0 1px 1px rgb(18, 156, 0);
    transform: translateX(-100%);
    opacity: 0;  
}

.nav{
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 15px ;
}

.nav:hover{
    color: rgb(2, 59, 1);
    text-shadow: rgb(110, 196, 218) 0 0 15px ;
}

.navActive{
    color: rgb(11, 11, 102);
    text-shadow: rgb(248, 248, 248) 0 0 15px ;
}

.icon{
    transition: 0.5s;
    width: 40px;
    margin-right: 10px;
}

.icon:hover{
    transform: translateX(5px);
}

.collection, .category{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}

.card, .cardCategory{
    cursor: pointer;
    border-radius: 15px;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
    width: 300px;
    height: 240px;
    transform-origin: 50%;
    background-color: rgb(228, 240, 69);
    margin: 20px;
    box-shadow: 0 0 3px 3px rgb(128, 127, 129);
}

.cardParang{
    opacity: 50%;
    box-shadow:  0 0 5px 5px rgb(94, 20, 20);
}

.card:hover , .cardCategory:hover{
    box-shadow: 0 0 5px 10px rgba(224, 13, 206, 0.733);
}

.img, .imgBack {
    transition: 0.5s;
    border-radius: 15px 15px 0 0;
    width:100%;
}

.imgCategory{
    border-radius: 30%;
    width: 80%;
    box-shadow:  0 0 4px 1px black;

}
.cardCategory{
    display: flex;
    font-weight: 700;
    font-size: 27px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to top, #196b00, #02f0dc);
    color: #f3f3f1;
    text-shadow: black 0 0 2px;
}

.word, .wordBack{
    transition: 1s;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.translate{
    transition: 0.5s;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.translate:hover{
   transform: rotate(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
    
.front {
    z-index: 2;
}
    
.back {
    transform: rotateY(180deg);
}

.trainButton, .repeatButton{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 7px rgb(93, 218, 145);
    font-size: 30px;
    margin-top: 20px;
    width:300px;
    height: 50px;
    background-color: rgb(6, 133, 2);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 15px ;
}
.trainButton:hover, .repeatButton:hover{
    background-color: rgb(3, 77, 1);
    box-shadow: 0 0 5px 5px rgb(64, 153, 101);
}
.trainButton:active, .repeatButton:active{
    background-color: rgb(3, 77, 1);
    box-shadow: inset 0 0 5px 2px rgb(149, 231, 183);
}

.repeatButton{
    display: none;
}

.repeat{
    margin-left: 5px;
}

/* TOGGLE */
.l:before, .l:after {
    box-sizing: border-box;
}
.toggle{
    cursor: pointer;
    box-sizing: border-box;
    font-size: 4px;
    display: flex;
    align-items: center;
}
.train{
    transition: 0.5s;
    margin-right: 10px;
    font-size: 38px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 15px ;
}
.train:hover{
    color: rgb(245, 243, 138);
    transform: translateX(10px);
}
.l {
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #fdea7b;
    font-size: 5em;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.l:before, .l:after {
    content: "";
    display: block;
}
.l:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}
.l:after {
    background:
        linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
}
/* Checked */
.l:focus {
    /* Normally an anti-A11Y practice, but set to remove an annoyance just for this demo */
    outline: 0;
}
.l:checked {
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
    background-color: currentColor;
    transform: translateX(125%)
}
.l:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
}

.score {
    transition: 0.5s;
    background-color: rgb(63, 221, 147);
    position: absolute;
    width: 100vw;
    top: 0;
    display: none;
    align-items: center;
    z-index: 100;
    padding-top: 20px;
    opacity: 0;
    flex-direction: column;
}
.table {
    border-spacing: 10px 10px;
    text-align: center;
}

.scoreButton {
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    width: 65px;
    z-index: 100;
    margin-top: 410px;
    margin-left: 220px;
    transform: rotate(11deg);
}

.scoreButton:hover{
    transform: translateX(-10px);
}
.menuScore{
    display: flex;
    width:100%;
    margin-bottom: 30px;
    justify-content: space-evenly;
    margin-left: 30px
}

.closeScore{
    transition: 0.5s;
    cursor: pointer;
    width: 25px;
}

.clearScore{
    transition: 0.5s;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    background-color: #377e78;
    box-shadow: 0 0 5px 2px rgb(53, 141, 97);
    font-weight: 700;
    color: rgb(231, 229, 229);
}

.clearScore:hover {
    box-shadow: 0 0 5px 5px rgb(219, 218, 218);
}
.tableSort{
    transition: 0.2s;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgb(49, 49, 49);
}
.tableSort:hover{
    transform: scale(1.2);
}